extends layout

block content
  .container-fluid
    h1 #{__('Coinbase Transactions')}
    - var peers = {1: 'A', 2: 'B', 3: 'C'}
    - each peer, chain in peers
      h3 #{__('Peer')} #{peer}
      .row.row-horizon
        - var blocks = []
        - blocks.push({block: 1, chain: chain, nonce: 16651, coinbasevalue: '100.00', coinbaseto: 'Anders', txs: [], previous: '0000000000000000000000000000000000000000000000000000000000000000'})
        - blocks.push({block: 2, chain: chain, nonce: 15512, coinbasevalue: '100.00', coinbaseto: 'Karthik', txs: [{value: '10.00', from: 'Anders', to: 'Deepika'},{value: '15.00', from: 'Anders', to: 'Padma'}], previous: '0000438d7625b86a6f366545b1929975a0d3ff1f8847e56cc587cadddb0ab781'})
        - blocks.push({block: 3, chain: chain, nonce: 77394, coinbasevalue: '100.00', coinbaseto: 'Aditya', txs: [{value: '10.00', from: 'Karthik', to: 'Aditya'},{value: '5.00', from: 'Karthik', to: 'Sam'}], previous: '0000c91f8b55c6e0f4490bc541720ba1c076bb6f6d17f288648bba1d4331b031'})
        - blocks.push({block: 4, chain: chain, nonce: 265382, coinbasevalue: '100.00', coinbaseto: 'Lee', txs: [{value: '15.00', from: 'Lee', to: 'Armaan'},{value: '5.00', from: 'Karthik', to: 'Disha'}], previous: '00007a17a3f80dece21da100a3b65795a739bc61d01dfbaee0385203006d2b99'})
        - blocks.push({block: 5, chain: chain, nonce: 226918, coinbasevalue: '100.00', coinbaseto: 'Ash', txs: [{value: '20.00', from: 'Ash', to: 'Aditya'},{value: '60.00', from: 'Karthik', to: 'Padma'}], previous: '000000cd2f5194c6f73da8470e7f2ae6906df8dba691f80976dc2c8bb3719095'})
        each block in blocks
          .col-xs-7
            include includes/coinbaseblock.jade

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val() +
              $('#block'+block+'chain'+chain+'coinbasevalue').val() +
              $('#block'+block+'chain'+chain+'coinbaseto').val();

      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
