extends layout

block content
  .container-fluid
    h1 #{__('Tokens')}
    - var peers = {1: 'A', 2: 'B', 3: 'C'}
    - each peer, chain in peers
      h3 #{__('Peer')} #{peer}
      .row.row-horizon
        - var blocks = []
        - blocks.push({block: 1, chain: chain, nonce: 31846, txs: [{value: '2000', from: 'Deepika', to: 'Sam'},{value: '18000', from: 'Karthik', to: 'Shiv'},{value: '190.58', from: 'Hema', to: 'Padma'}], previous: '0000000000000000000000000000000000000000000000000000000000000000'})
        - blocks.push({block: 2, chain: chain, nonce: 66955, txs: [{value: '100.75', from: 'Sam', to: 'Dhoni'},{value: '46', from: 'Sam', to: 'Brian'},{value: '95.00', from: 'Karthik', to: 'Sam'}], previous: '00003de1ab70aff93c1bca9fe3c9df44b010f32ef98f7f844690fccc99eb39e6'})
        - blocks.push({block: 3, chain: chain, nonce: 13055, txs: [{value: '20.00', from: 'Aditya', to: 'Shengan'},{value: '15.00', from: 'Armaan', to: 'Aditya'},{value: '40.00', from: 'Marmik', to: 'Aditya'}], previous: '0000e55765d9c96111895697f135c368bb689d6e9e0c8f771db0fcfa7dccbc67'})
        - blocks.push({block: 4, chain: chain, nonce: 50338, txs: [{value: '54.19', from: 'Rick', to: 'Aditya'},{value: '567.96', from: 'Sam', to: 'Brian'},{value: '101.15', from: 'Victor', to: 'Aditi'}], previous: '0000b55929fbcfe2b0da78dd60acbb30a20362a3525b4e4a8548bbf05a115726'})
        - blocks.push({block: 5, chain: chain, nonce: 34367, txs: [{value: '14.12', from: 'Anders', to: 'Sam'},{value: '2,760.29', from: 'Aditya', to: 'Sam'},{value: '413.78', from: 'Vova', to: 'Aditya'}], previous: '00000088abdb3c9b7d6a016d50428a644c0f40fbb0edad26b62f75990778d03e'})
        each block in blocks
          .col-xs-7
            include includes/tokenblock.jade

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val();
      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
